[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "fisher"]
	path = fish/fisher
	url = https://github.com/jorgebucaran/fisher
